In [1]:
# imports
import pandas as pd

In [11]:
# reading in the csv
path = '../data/top10s.csv'

data_df = pd.read_csv(path, encoding='cp1252')
data_df.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [7]:
# checking the cols
data_df.columns

Index(['Unnamed: 0', 'title', 'artist', 'top genre', 'year', 'bpm', 'nrgy',
       'dnce', 'dB', 'live', 'val', 'dur', 'acous', 'spch', 'pop'],
      dtype='object')

In [13]:
# subsetting the cols to remove 'unnamed:0' file
data_df = data_df[['title', 'artist', 'top genre', 'year', 'bpm', 'nrgy',
       'dnce', 'dB', 'live', 'val', 'dur', 'acous', 'spch', 'pop']]
data_df.head()

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [28]:
data_df.columns = ['title', 'artist', 'genre', 'year', 'bpm', 'nrgy',
       'dnce', 'dB', 'live', 'val', 'dur', 'acous', 'spch', 'pop']
data_df.head()

,title,artist,genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [27]:
# checking for null values
data_df.isnull().sum()

title        0
artist       0
top genre    0
year         0
bpm          0
nrgy         0
dnce         0
dB           0
live         0
val          0
dur          0
acous        0
spch         0
pop          0
dtype: int64

In [29]:
# exporting cleaned data
data_df.to_csv('../data/data_cleaned.csv', index=False)

In [17]:
# all unique artist names
unique_artists = list(data_df['artist'].unique())
unique_artists

['Train',
 'Eminem',
 'Kesha',
 'Lady Gaga',
 'Bruno Mars',
 'Justin Bieber',
 'Taio Cruz',
 'OneRepublic',
 'Alicia Keys',
 'Rihanna',
 'Flo Rida',
 'Mike Posner',
 'Far East Movement',
 'Usher',
 'Sean Kingston',
 'The Black Eyed Peas',
 'Adam Lambert',
 'Maroon 5',
 'Neon Trees',
 'Selena Gomez & The Scene',
 'Enrique Iglesias',
 'Katy Perry',
 'Britney Spears',
 '3OH!3',
 'David Guetta',
 'Christina Aguilera',
 'Florence + The Machine',
 'Shakira',
 'Tinie Tempah',
 'T.I.',
 'Martin Solveig',
 'Christina Perri',
 'Adele',
 'Pitbull',
 'Beyoncé',
 'Hot Chelle Rae',
 'Avril Lavigne',
 'Kanye West',
 'LMFAO',
 'Jessie J',
 'Jennifer Lopez',
 'Chris Brown',
 'Sleeping At Last',
 'Nicki Minaj',
 'P!nk',
 'Coldplay',
 'One Direction',
 'Taylor Swift',
 'Carly Rae Jepsen',
 'Kelly Clarkson',
 'Owl City',
 'The Wanted',
 'fun.',
 'Ellie Goulding',
 'Gym Class Heroes',
 'Avicii',
 'The Script',
 'Miley Cyrus',
 'Swedish House Mafia',
 'Daft Punk',
 'James Arthur',
 'Robin Thicke',
 'Demi Lovato',
 'Zedd',
 'Lana Del Rey',
 'Calvin Harris',
 'Drake',
 'Sara Bareilles',
 'Macklemore & Ryan Lewis',
 'Labrinth',
 'Ne-Yo',
 'Ariana Grande',
 'Justin Timberlake',
 'will.i.am',
 'Icona Pop',
 'Fergie',
 'Little Mix',
 'Emeli Sandé',
 'Selena Gomez',
 'Austin Mahone',
 'Jonas Brothers',
 'Mariah Carey',
 'Ciara',
 'Jewel',
 'Kelly Rowland',
 'John Legend',
 'Sam Smith',
 'Pharrell Williams',
 'MAGIC!',
 'Passenger',
 'Bastille',
 'Lorde',
 'John Newman',
 'Disclosure',
 'Michael Jackson',
 '5 Seconds of Summer',
 'Iggy Azalea',
 'Jason Derulo',
 'The Chainsmokers',
 'Birdy',
 'A Great Big World',
 'Sia',
 'Charli XCX',
 'Lily Allen',
 'Lea Michele',
 'Ed Sheeran',
 'The Weeknd',
 'Mark Ronson',
 'Hozier',
 'Shawn Mendes',
 'Mr. Probz',
 'Zara Larsson',
 'Fifth Harmony',
 'Clean Bandit',
 'Meghan Trainor',
 'Nick Jonas',
 'Paloma Faith',
 'Olly Murs',
 'Naughty Boy',
 'Alessia Cara',
 'Sigala',
 'Rudimental',
 'Lost Frequencies',
 'Robin Schulz',
 'Lilly Wood and The Prick',
 'Wiz Khalifa',
 'Alesso',
 'Madonna',
 'Gwen Stefani',
 'Jess Glynne',
 'Hilary Duff',
 'Ricky Martin',
 'Jennifer Hudson',
 'DNCE',
 'Martin Garrix',
 'Lukas Graham',
 'G-Eazy',
 'Hailee Steinfeld',
 'BØRNS',
 'Major Lazer',
 'MØ',
 'Tove Lo',
 'ZAYN',
 'Bebe Rexha',
 'Snakehips',
 'Missy Elliott',
 'Years & Years',
 'Charlie Puth',
 'Janet Jackson',
 'Joey Montana',
 'Nelly Furtado',
 'DJ Snake',
 'Kygo',
 'DJ Khaled',
 'Luis Fonsi',
 'Camila Cabello',
 'Jonas Blue',
 'CNCO',
 'Cardi B',
 'Alan Walker',
 'Liam Payne',
 'Niall Horan',
 'Cashmere Cat',
 'Galantis',
 'Dua Lipa',
 'Silk City',
 'Marshmello',
 'Halsey',
 'Troye Sivan',
 'Dan + Shay',
 'Rita Ora',
 'Harry Styles',
 'Ansel Elgort',
 'J Balvin',
 'N.E.R.D',
 'Hayley Kiyoko',
 'RedOne',
 'Lewis Capaldi',
 'SHAED',
 'Lizzo',
 'Mabel',
 'Khalid',
 'R3HAB',
 'Daddy Yankee']